@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  ul,
  li,
  ol {
    list-style: none;
  }

  html,
  body {
    height: 100%;
  }

  * {
    box-sizing: border-box;
  }
}

@layer components {
  .btn-style {
    @apply text-center border whitespace-nowrap;
  }

  .flex-center {
    @apply flex justify-center items-center text-center;
  }

  .footer-title {
    @apply text-white font-semibold;
  }

  .footer-content {
    @apply *:text-[#cfcfcf] *:py-2 text-sm;
  }

  .list-container {
    @apply w-full max-w-[1200px] grid m-[10px_auto] p-[15px] gap-[15px] justify-items-center;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .skeleton-item {
    @apply bg-gray-200 rounded animate-pulse mx-auto;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari */
  }
}
